
.button {
  font: inherit;
  border: 1px solid #3e581b;
  background: #475c0f;
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 25%;
  min-width: 200px;
}

.button:hover,
.button:active {
  background: #694a07;
  border-color: #c98f11;
}

.button:focus {
  outline: none;
}
